prometheus_client>=0.16.0,<1.0
gqylpy           >=1.0
gqylpy_ssh       >=1.2.5, <2.0
gqylpy_datastruct>=2.2.5, <3.0
gqylpy_dict      >=1.2.1, <2.0
gqylpy_log       >=1.1,   <2.0
systempath       >=1.0.8, <2.0
funccache        >=1.5.2, <2.0
PyYAML           >=6.0,   <7.0
